

.card{
    padding: 10px;
    width: 16rem;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    
}
.button{
    border: none;
    background-color: rgb(0, 0, 0);
    color:white;
    
}
.Row{
    padding: 10px ;
     background-color: rgb(73, 69, 69);
 }
